---
---
@import "{{ site.theme }}";

html, input, button, textarea, select {
    font-family: "OracleSansVF","OracleSansVFCyGr",-apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
}

body{
background: #F1EFED;
color: #161513;
font-size: 1.6rem;
}

.nav{
padding: 8px 20px ;
background-color: #3A3631;
width: 100%;
height: 90px;
}

.nav-item{
padding: 0px 20px;
float: left;
color: #FCFBFA;
}

.nav-item:hover{
  background-color: rgba(255,255,255,.8);
}
